*{
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  text-align:center;
  background-image: url(./image/background.png);
}
.container{
  width: 1068px;
  margin: 0 auto;
}
.logo{
  margin: 114px 0 52px;
}
.logo img{
  width: 823px;
}
.keiei_rinen{
  background-image: url(./image/rinen.png);
  border:solid 1px;
  width:865px;
  height: 310px;
  margin: 0 auto 80px;
  padding: 20px;
}
.rinen_main{
  font-family: "ヒラギノ角ゴ Std", "ヒラギノ角ゴ ProN", "メイリオ", Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin: 10px;
}
.rinen_text{
  font-family: "ヒラギノ角ゴ ProN", "ヒラギノ角ゴ Std", "メイリオ", Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
}
.itai{
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
}
.jigyoubu_list{
  display:inline-block;
  width: 270px;
  height: 241px;
  margin: 12px;
  cursor: pointer;
}
.jigyoubu_list.herunia{
  background-image: url(./image/herunia_jigyoubu_entry.png);
}
.jigyoubu_list.herunia:hover{
  background-image: url(./image/herunia_jigyoubu_entry_hover.png);
}
.jigyoubu_list.nijigen_ijyuu{
  background-image: url(./image/nijigen_ijyuu_jigyoubu_entry.png);
}
.jigyoubu_list.nijigen_ijyuu:hover{
  background-image: url(./image/nijigen_ijyuu_jigyoubu_entry_hover.png);
}
.jigyoubu_list.sekaino_kotowari{
  background-image: url(./image/sekaino_kotowari_jigyoubu_entry.png);
}
.jigyoubu_list.sekaino_kotowari:hover{
  background-image: url(./image/sekaino_kotowari_jigyoubu_entry_hover.png);
}
.jigyoubu_list_container{
}
.jigyoubu_content_container{
  width:860px;
  height:400px;
  margin:auto;
  clear: both;
  text-align:center;
  position:relative;  
}
.jigyoubu_content.herunia{
  font-size:20pt;
  text-align:left;
  position:absolute;
  display:none;
  background-color:white;  
}
.jigyoubu_content.nijigen_ijyuu{
  font-size:20pt;
  text-align:left;
  position:absolute;
  display:none;
  background-color:white;  
}
.jigyoubu_content.sekaino_kotowari{
  font-size:20pt;
  height:1000px;
  text-align:left;
  position:absolute;
  display:none;
  background-color:white;  
}
