*{
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  /*background-image: url(./image/background.png);*/
  background-color: black;
  /*font-family: "ヒラギノ明朝 Pro",  "メイリオ", Arial, sans-serif;*/
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","Times New Roman", "游明朝", YuMincho,  "メイリオ", Meiryo, serif;
}
#container{
  /*width: 1068px;*/
  margin: 0 auto;
  position: relative;
  /*text-align: center;*/
  display: none;
}
header ul{
  margin: 40px 0 0 0;
  text-align: center;
  /*width: 860px;*/
}
header li{
  text-indent: -9999px;
  width: 100px;
  height: 37px;
  background-size: contain;
  list-style-type: none;
  display: inline-block;
  margin: 0 50px;
  cursor: pointer;
}
header li.top{
  background-image: url(./image/top.png);
}
header li.story{
  background-image: url(./image/story.png);
}
header li.cast{
  background-image: url(./image/cast.png);
}
header li.theaters{
  background-image: url(./image/theaters.png);
}
header #sound{
  cursor: pointer;
}
div#bgimg{
  width: 700px;
  height: 506px;
  /*box-shadow: 0 0 300px 100px white inset;*/
  /*margin: 0 auto;*/
  position: absolute;
  z-index: 1;
  background-image: url(./image/rouka_1.png);
  background-size: contain;
}
/*div#bgimg img{
  display: none;
  width: 700px;
  height: 506px;
}*/
#contents{
  position: relative;
}
.content{
  position: relative;
  z-index: 100;
  /*width: 600px;*/
}
.content#top{
  top: 500px;
}
.content h2{
  /*font-size: 18pt;*/
}
.content:not(#top){
  margin: 50px 200px;
}
.content:not(#top) .text{
  text-align: left;
  color: red;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}
.content p, .content dl{
  /*font-size: 9pt;*/
}
#story, #cast, #theaters{
  display: none;
}
#story .text{
  background-image: url(./image/content_story.png);
}
#cast .text{
  background-image: url(./image/content_cast.png);
}
#theaters .text{
  background-image: url(./image/content_theaters.png);
}
#copy{
  background-image: url(./image/copy.png);
  background-size: contain;
  text-indent: -9999px;
  width: 616px;
  height: 40px;
  margin: 0 auto;
}
#footer_cast{
  font-size: 5pt;
}
.text{
  color: white;
  /*z-index: 1000;*/
  text-align: center;
  font-size: 18pt;
}
#time_counter{
  /*font-family: 'digital_dreamregular', 'digital_dream_fatregular', 'digital_dream_fat_narrowRg', 'digital_dream_fat_skewregular', 'digital_dream_fat_skew_narrRg', 'digital_dream_narrowregular', 'digital_dream_skewregular', 'digital_dream_skew_narrowRg', 'radiolandregular', 'radioland_slimregular', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","Times New Roman", "游明朝", YuMincho,  "メイリオ", Meiryo, serif;*/
  margin: 20px 0;
}
